<h1>The Fun Space</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p><strong>I'll be there having fun...<strong></p>
<p>... and of course be very grateful to Matt for his patience with me today!</p>
<p>Date: 2nd Dec 2017</p>